In [1]:
import numpy as np
import pandas as pd
from dmc2016.datautils import load_orders_train, PATH

df = load_orders_train()
df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>orderID</th>
      <th>orderDate</th>
      <th>articleID</th>
      <th>colorCode</th>
      <th>sizeCode</th>
      <th>productGroup</th>
      <th>quantity</th>
      <th>price</th>
      <th>rrp</th>
      <th>voucherID</th>
      <th>voucherAmount</th>
      <th>customerID</th>
      <th>deviceID</th>
      <th>paymentMethod</th>
      <th>returnQuantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a1000001</td>
      <td>2014-01-01</td>
      <td>i1000382</td>
      <td>1972</td>
      <td>44</td>
      <td>3.0</td>
      <td>1</td>
      <td>10.00</td>
      <td>29.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1010575</td>
      <td>2</td>
      <td>BPRG</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>a1000001</td>
      <td>2014-01-01</td>
      <td>i1000550</td>
      <td>3854</td>
      <td>44</td>
      <td>3.0</td>
      <td>1</td>
      <td>20.00</td>
      <td>39.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1010575</td>
      <td>2</td>
      <td>BPRG</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>a1000002</td>
      <td>2014-01-01</td>
      <td>i1001991</td>
      <td>2974</td>
      <td>38</td>
      <td>8.0</td>
      <td>1</td>
      <td>35.00</td>
      <td>49.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1045905</td>
      <td>4</td>
      <td>BPRG</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>a1000002</td>
      <td>2014-01-01</td>
      <td>i1001999</td>
      <td>1992</td>
      <td>38</td>
      <td>8.0</td>
      <td>1</td>
      <td>49.99</td>
      <td>49.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1045905</td>
      <td>4</td>
      <td>BPRG</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>a1000003</td>
      <td>2014-01-01</td>
      <td>i1001942</td>
      <td>1968</td>
      <td>42</td>
      <td>8.0</td>
      <td>1</td>
      <td>10.00</td>
      <td>35.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1089295</td>
      <td>2</td>
      <td>PAYPALVC</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
from dmc2016.datautils import process_date
process_date(df)
_ = pd.read_csv(PATH + 'date.csv')

In [3]:
# what should we do with items that have zero quantity?!! remove I guess :)
df.groupby('quantity').size()

quantity
0       31643
1     2275335
2       16168
3        1340
4         325
5         349
7           1
9           1
11          1
15          1
24          1
dtype: int64

In [4]:
from dmc2016.datautils import cleanup_data
cleaned_df = cleanup_data(df)
cleaned_df.groupby('quantity').size()

quantity
1    2258952
2      15813
3        999
4         19
5         51
dtype: int64

In [5]:
cleaned_df.groupby('price').size()

price
4.00         397
5.00        9539
7.00        4914
8.00       13387
9.00       23467
9.99       21078
10.00      31072
12.00      52529
12.95      33140
12.99      16576
14.00       4430
15.00      92455
15.99      29196
16.00        157
17.99      48302
18.00      56813
19.98        748
19.99      70598
20.00     153222
22.99      64049
23.99        104
24.00        323
24.99        342
25.00      60446
25.20        127
25.90       1131
25.98        170
25.99      85816
26.66        199
27.99      23966
           ...
71.98        398
75.00        207
79.98       1246
79.99      15587
80.00        632
85.00       1155
89.99      13040
90.00       1258
99.98        694
99.99      16397
100.00      1239
109.00       298
110.00      1437
119.98       641
119.99      3180
120.00      1036
129.99      1904
130.00       235
139.98       661
139.99      3197
149.99      1354
150.00       444
159.99       275
160.00      1641
169.99      1305
179.99       355
199.99       338
219.99       739
229.99      2578
239.99       304
dtype: int64

In [6]:
from dmc2016.datautils import filter_nasty_customers

nasty_customers = filter_nasty_customers(df, lambda x: x > 100)
len(nasty_customers)

310

In [7]:
from dmc2016.datautils import filter_most_unwanted_colors

most_unwanted_colors = filter_most_unwanted_colors(df, lambda x: x > 5000)
len(most_unwanted_colors)

57

In [5]:
from dmc2016.datautils import compare_columns

price_gt_rrp = compare_columns(df, 'price', 'rrp', lambda x, y: x > y)
len(price_gt_rrp)

22662

In [53]:
df.groupby('sizeCode').size()

sizeCode
100      1059
24        317
25       5104
26       9836
27      17139
28      22634
29      30560
30      29115
31      26133
32      36554
33      20890
34     147173
36     270462
38     395163
40     393547
42     393244
44     359473
75        491
80       1157
85       1680
90       1613
95       1597
A       42014
I      116374
L         445
M         751
S         444
XL        158
XS         38
dtype: int64

In [4]:
from dmc2016.datautils import cleanup_sizecode

cleaned_sizecode_df = cleanup_sizecode(df)
cleaned_sizecode_df.groupby('sizeCode').size()

sizeCode
100      1059
25       5104
26       9836
27      17139
28      22634
29      30560
30      29115
31      26133
32      36554
33      20890
34     147173
36     270462
38     395163
40     393547
42     393244
44     359473
80       1157
85       1680
90       1613
95       1597
A       42014
I      116374
dtype: int64

In [2]:
df.groupby('returnQuantity').size()
# We can use classification models :)

returnQuantity
0    1117156
1    1204005
2       3749
3        192
4         35
5         28
dtype: int64

In [2]:
df.groupby('articleID').size()

articleID
i1000003       1
i1000005       1
i1000006       1
i1000007       2
i1000008       6
i1000009       6
i1000010       7
i1000011       1
i1000012       6
i1000013      19
i1000014      12
i1000015      28
i1000016      23
i1000017       3
i1000018      32
i1000019       4
i1000020       4
i1000021       4
i1000023       6
i1000024      12
i1000025      11
i1000026      30
i1000027       5
i1000028     395
i1000029     555
i1000030     370
i1000031     549
i1000032     215
i1000033     481
i1000034      10
            ...
i1003969     476
i1003970    1087
i1003971     322
i1003972     790
i1003973     943
i1003974     140
i1003975     235
i1003976     126
i1003977     120
i1003978     146
i1003979     347
i1003980     338
i1003981     477
i1003982       1
i1003984      35
i1003985    2847
i1003986      31
i1003987     536
i1003988     689
i1003989    2427
i1003990     160
i1003991     593
i1003992     949
i1003993    1624
i1003994    1333
i1003995     648
i1003996    2175
i1003997     218
i1003998     940
i1004001     351
dtype: int64

In [4]:
from dmc2016.datautils import cleanup_articleid

cleaned_articleid_df = cleanup_articleid(df)
cleaned_articleid_df.groupby('articleID').size()

articleID
i1000267     2538
i1000269     2415
i1000296     2291
i1000298     2337
i1000312     3365
i1000313     2971
i1000314    14515
i1000315     6023
i1000318     2082
i1000319     2808
i1000320     2589
i1000321     2820
i1000322     4755
i1000323     2076
i1000325     3135
i1000328     2073
i1000342     2254
i1000350     4288
i1000358     3133
i1000359     3884
i1000364     5909
i1000365     5701
i1000372     6307
i1000373     5275
i1000376     2429
i1000377     4623
i1000385     2172
i1000397    13508
i1000398     6044
i1000403     2127
            ...
i1002094     3845
i1002287     2323
i1002334     3166
i1002381     2410
i1002506     5075
i1002683     2822
i1003127     2257
i1003278    26208
i1003279     8424
i1003435     2773
i1003471     2005
i1003505     2611
i1003517     3833
i1003519     2704
i1003714     2228
i1003741     2093
i1003817     2268
i1003848     2308
i1003868     3413
i1003869     2959
i1003877     2175
i1003883     2992
i1003886     2767
i1003890     2913
i1003894     2139
i1003895     2215
i1003896     4496
i1003985     2847
i1003989     2427
i1003996     2175
dtype: int64