In [52]:
import numpy as np
import pandas as pd
from dmc2016.datautils import load_orders_train, PATH

df = load_orders_train()
df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>orderID</th>
      <th>orderDate</th>
      <th>articleID</th>
      <th>colorCode</th>
      <th>sizeCode</th>
      <th>productGroup</th>
      <th>quantity</th>
      <th>price</th>
      <th>rrp</th>
      <th>voucherID</th>
      <th>voucherAmount</th>
      <th>customerID</th>
      <th>deviceID</th>
      <th>paymentMethod</th>
      <th>returnQuantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a1000001</td>
      <td>2014-01-01</td>
      <td>i1000382</td>
      <td>1972</td>
      <td>44</td>
      <td>3.0</td>
      <td>1</td>
      <td>10.00</td>
      <td>29.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1010575</td>
      <td>2</td>
      <td>BPRG</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>a1000001</td>
      <td>2014-01-01</td>
      <td>i1000550</td>
      <td>3854</td>
      <td>44</td>
      <td>3.0</td>
      <td>1</td>
      <td>20.00</td>
      <td>39.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1010575</td>
      <td>2</td>
      <td>BPRG</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>a1000002</td>
      <td>2014-01-01</td>
      <td>i1001991</td>
      <td>2974</td>
      <td>38</td>
      <td>8.0</td>
      <td>1</td>
      <td>35.00</td>
      <td>49.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1045905</td>
      <td>4</td>
      <td>BPRG</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>a1000002</td>
      <td>2014-01-01</td>
      <td>i1001999</td>
      <td>1992</td>
      <td>38</td>
      <td>8.0</td>
      <td>1</td>
      <td>49.99</td>
      <td>49.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1045905</td>
      <td>4</td>
      <td>BPRG</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>a1000003</td>
      <td>2014-01-01</td>
      <td>i1001942</td>
      <td>1968</td>
      <td>42</td>
      <td>8.0</td>
      <td>1</td>
      <td>10.00</td>
      <td>35.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1089295</td>
      <td>2</td>
      <td>PAYPALVC</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
from dmc2016.datautils import process_date
process_date(df)
_ = pd.read_csv(PATH + 'date.csv')

In [3]:
# what should we do with items that have zero quantity?!! remove I guess :)
df.groupby('quantity').size()

quantity
0       31643
1     2275335
2       16168
3        1340
4         325
5         349
7           1
9           1
11          1
15          1
24          1
dtype: int64

In [4]:
from dmc2016.datautils import cleanup_data
cleaned_df = cleanup_data(df)
cleaned_df.groupby('quantity').size()

quantity
1    2258952
2      15813
3        999
4         19
5         51
dtype: int64

In [5]:
cleaned_df.groupby('price').size()

price
4.00         397
5.00        9539
7.00        4914
8.00       13387
9.00       23467
9.99       21078
10.00      31072
12.00      52529
12.95      33140
12.99      16576
14.00       4430
15.00      92455
15.99      29196
16.00        157
17.99      48302
18.00      56813
19.98        748
19.99      70598
20.00     153222
22.99      64049
23.99        104
24.00        323
24.99        342
25.00      60446
25.20        127
25.90       1131
25.98        170
25.99      85816
26.66        199
27.99      23966
           ...
71.98        398
75.00        207
79.98       1246
79.99      15587
80.00        632
85.00       1155
89.99      13040
90.00       1258
99.98        694
99.99      16397
100.00      1239
109.00       298
110.00      1437
119.98       641
119.99      3180
120.00      1036
129.99      1904
130.00       235
139.98       661
139.99      3197
149.99      1354
150.00       444
159.99       275
160.00      1641
169.99      1305
179.99       355
199.99       338
219.99       739
229.99      2578
239.99       304
dtype: int64

In [6]:
from dmc2016.datautils import filter_nasty_customers

nasty_customers = filter_nasty_customers(df, lambda x: x > 100)
len(nasty_customers)

310

In [7]:
from dmc2016.datautils import filter_most_unwanted_colors

most_unwanted_colors = filter_most_unwanted_colors(df, lambda x: x > 5000)
len(most_unwanted_colors)

57

In [5]:
from dmc2016.datautils import compare_columns

price_gt_rrp = compare_columns(df, 'price', 'rrp', lambda x, y: x > y)
len(price_gt_rrp)

22662

In [53]:
df.groupby('sizeCode').size()

sizeCode
100      1059
24        317
25       5104
26       9836
27      17139
28      22634
29      30560
30      29115
31      26133
32      36554
33      20890
34     147173
36     270462
38     395163
40     393547
42     393244
44     359473
75        491
80       1157
85       1680
90       1613
95       1597
A       42014
I      116374
L         445
M         751
S         444
XL        158
XS         38
dtype: int64