In [2]:
import numpy as np
import pandas as pd
from datautils import load_orders_train, PATH

df = load_orders_train()
df.head()

,orderID,orderDate,articleID,colorCode,sizeCode,productGroup,quantity,price,rrp,voucherID,voucherAmount,customerID,deviceID,paymentMethod,returnQuantity
0,a1000001,2014-01-01,i1000382,1972,44,3.0,1,10.00,29.99,0,0.0,c1010575,2,BPRG,0
1,a1000001,2014-01-01,i1000550,3854,44,3.0,1,20.00,39.99,0,0.0,c1010575,2,BPRG,0
2,a1000002,2014-01-01,i1001991,2974,38,8.0,1,35.00,49.99,0,0.0,c1045905,4,BPRG,0
3,a1000002,2014-01-01,i1001999,1992,38,8.0,1,49.99,49.99,0,0.0,c1045905,4,BPRG,1
4,a1000003,2014-01-01,i1001942,1968,42,8.0,1,10.00,35.99,0,0.0,c1089295,2,PAYPALVC,0

In [16]:
from datautils import process_date
process_date(df)
_ = pd.read_csv(PATH + 'date.csv')

In [3]:
# what should we do with items that have zero quantity?!! remove I guess :)
df.groupby('quantity').size()

quantity
0       31643
1     2275335
2       16168
3        1340
4         325
5         349
7           1
9           1
11          1
15          1
24          1
dtype: int64

In [6]:
grouped_items = df[['quantity', 'returnQuantity']].groupby(df['quantity'])
counter = 0
for name, group in grouped_items:
    print('quantity number: {name}'.format(name=name))
    return_quantity_group_size = group.groupby('returnQuantity').size()
    print(len(group.index))
    print(return_quantity_group_size)
    positive_return_percent = sum(return_quantity_group_size[1:]) / float(return_quantity_group_size[0])
    print('positive_return_percent: {value}'.format(value=positive_return_percent))
    print('-------------------------')
    
print(counter)

quantity number: 0
31643
returnQuantity
0    31635
1        8
dtype: int64
positive_return_percent: 0.000252884463411
-------------------------
quantity number: 1
2275335
returnQuantity
0    1076838
1    1198496
2          1
dtype: int64
positive_return_percent: 1.11297799669
-------------------------
quantity number: 2
16168
returnQuantity
0    7283
1    5278
2    3607
dtype: int64
positive_return_percent: 1.21996430043
-------------------------
quantity number: 3
1340
returnQuantity
0    890
1    165
2    113
3    172
dtype: int64
positive_return_percent: 0.505617977528
-------------------------
quantity number: 4
325
returnQuantity
0    233
1     30
2     20
3     17
4     25
dtype: int64
positive_return_percent: 0.394849785408
-------------------------
quantity number: 5
349
returnQuantity
0    272
1     28
2      8
3      3
4     10
5     28
dtype: int64
positive_return_percent: 0.283088235294
-------------------------
quantity number: 7
1
returnQuantity
0    1
dtype: int64
positive_return_percent: 0.0
-------------------------
quantity number: 9
1
returnQuantity
0    1
dtype: int64
positive_return_percent: 0.0
-------------------------
quantity number: 11
1
returnQuantity
0    1
dtype: int64
positive_return_percent: 0.0
-------------------------
quantity number: 15
1
returnQuantity
0    1
dtype: int64
positive_return_percent: 0.0
-------------------------
quantity number: 24
1
returnQuantity
0    1
dtype: int64
positive_return_percent: 0.0
-------------------------
0

In [9]:
from datautils import cleanup_data
cleaned_df = cleanup_data(df)
cleaned_df.groupby('quantity').size()

quantity
1    2241632
2       1144
3         68
dtype: int64

In [10]:
cleaned_df.groupby('price').size()

price
4.00         397
5.00        9303
7.00        4801
8.00       13337
9.00       23416
9.99       21078
10.00      30475
12.00      52198
12.95      33140
12.99      16493
14.00       4385
15.00      91722
15.99      29108
16.00        125
17.99      48094
18.00      56410
19.99      69018
20.00     152476
22.99      62121
23.99        104
24.00        220
24.99        342
25.00      60255
25.20        127
25.99      84444
26.66        199
27.99      23905
29.99     240235
30.00      83018
33.61        199
           ...
59.99     118242
60.00       1949
65.00       3368
69.99     156833
70.00       3506
75.00        196
79.99      15564
80.00        481
85.00       1155
89.99      13014
90.00       1232
99.99      16330
100.00      1128
109.00       298
110.00      1414
119.99      3177
120.00      1021
129.99      1872
130.00       230
139.99      3183
149.99      1354
150.00       391
159.99       275
160.00      1640
169.99      1305
179.99       355
199.99       338
219.99       739
229.99      2578
239.99       304
dtype: int64

In [11]:
from datautils import filter_nasty_customers

nasty_customers = filter_nasty_customers(df, lambda x: x > 100)
len(nasty_customers)

310

In [13]:
from datautils import filter_most_unwanted_colors

most_unwanted_colors = filter_most_unwanted_colors(df, lambda x: x > 5000)
len(most_unwanted_colors)

57

In [14]:
from datautils import compare_columns

price_gt_rrp = compare_columns(df, 'price', 'rrp', lambda x, y: x > y)
len(price_gt_rrp)

22662

In [15]:
df.groupby('sizeCode').size()

sizeCode
100      1059
24        317
25       5104
26       9836
27      17139
28      22634
29      30560
30      29115
31      26133
32      36554
33      20890
34     147173
36     270462
38     395163
40     393547
42     393244
44     359473
75        491
80       1157
85       1680
90       1613
95       1597
A       42014
I      116374
L         445
M         751
S         444
XL        158
XS         38
dtype: int64

In [16]:
from datautils import cleanup_sizecode

cleaned_sizecode_df = cleanup_sizecode(df)
cleaned_sizecode_df.groupby('sizeCode').size()

sizeCode
25      5104
26      9836
27     17139
28     22634
29     30560
30     29115
31     26133
32     36554
33     20890
34    147173
36    270462
38    395163
40    393547
42    393244
44    359473
A      42014
I     116374
dtype: int64

In [17]:
df.groupby('returnQuantity').size()
# We can use classification models :)

returnQuantity
0    1117156
1    1204005
2       3749
3        192
4         35
5         28
dtype: int64

In [18]:
df.groupby('articleID').size()

articleID
i1000003       1
i1000005       1
i1000006       1
i1000007       2
i1000008       6
i1000009       6
i1000010       7
i1000011       1
i1000012       6
i1000013      19
i1000014      12
i1000015      28
i1000016      23
i1000017       3
i1000018      32
i1000019       4
i1000020       4
i1000021       4
i1000023       6
i1000024      12
i1000025      11
i1000026      30
i1000027       5
i1000028     395
i1000029     555
i1000030     370
i1000031     549
i1000032     215
i1000033     481
i1000034      10
            ...
i1003969     476
i1003970    1087
i1003971     322
i1003972     790
i1003973     943
i1003974     140
i1003975     235
i1003976     126
i1003977     120
i1003978     146
i1003979     347
i1003980     338
i1003981     477
i1003982       1
i1003984      35
i1003985    2847
i1003986      31
i1003987     536
i1003988     689
i1003989    2427
i1003990     160
i1003991     593
i1003992     949
i1003993    1624
i1003994    1333
i1003995     648
i1003996    2175
i1003997     218
i1003998     940
i1004001     351
dtype: int64

In [19]:
from datautils import cleanup_articleid

cleaned_articleid_df = cleanup_articleid(df)
cleaned_articleid_df.groupby('articleID').size()

articleID
i1000015      28
i1000016      23
i1000018      32
i1000026      30
i1000028     395
i1000029     555
i1000030     370
i1000031     549
i1000032     215
i1000033     481
i1000038      62
i1000039      48
i1000040      87
i1000041     146
i1000042     169
i1000043     163
i1000044     294
i1000046      63
i1000048     398
i1000053      21
i1000055      26
i1000058      69
i1000059      31
i1000060      30
i1000061      29
i1000063      33
i1000067      76
i1000068     128
i1000070     296
i1000071     217
            ...
i1003968     284
i1003969     476
i1003970    1087
i1003971     322
i1003972     790
i1003973     943
i1003974     140
i1003975     235
i1003976     126
i1003977     120
i1003978     146
i1003979     347
i1003980     338
i1003981     477
i1003984      35
i1003985    2847
i1003986      31
i1003987     536
i1003988     689
i1003989    2427
i1003990     160
i1003991     593
i1003992     949
i1003993    1624
i1003994    1333
i1003995     648
i1003996    2175
i1003997     218
i1003998     940
i1004001     351
dtype: int64

In [20]:
from datautils import load_orders_train

df = load_orders_train()
df = df[df['quantity'] == 0]
df[['quantity', 'returnQuantity']].groupby('returnQuantity').size()

returnQuantity
0    31635
1        8
dtype: int64

In [21]:
import pandas as pd
from datautils import load_orders_class, load_real_class

df1 = load_orders_class()
df2 = load_real_class()

df = pd.concat([df1, df2], axis=1)
df = df[df['quantity'] == 0]
df[['quantity', 'returnQuantity']].groupby('returnQuantity').size()

returnQuantity
0    6692
dtype: int64

In [12]:
from models import HardPredictor
predictor = HardPredictor(df)
predictor.predict_by_quantity(0.5)

quantity number: 0
positive_return_percent: 0.000252884463411
quantity number: 1
positive_return_percent: 1.11297799669
quantity number: 2
positive_return_percent: 1.21996430043
quantity number: 3
positive_return_percent: 0.505617977528
quantity number: 4
positive_return_percent: 0.394849785408
quantity number: 5
positive_return_percent: 0.283088235294
quantity number: 7
positive_return_percent: 0.0
quantity number: 9
positive_return_percent: 0.0
quantity number: 11
positive_return_percent: 0.0
quantity number: 15
positive_return_percent: 0.0
quantity number: 24
positive_return_percent: 0.0