In [1]:
import numpy as np
import pandas as pd
from dmc2016.datautils import load_orders_train, process_date

df = load_orders_train()
df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>orderID</th>
      <th>orderDate</th>
      <th>articleID</th>
      <th>colorCode</th>
      <th>sizeCode</th>
      <th>productGroup</th>
      <th>quantity</th>
      <th>price</th>
      <th>rrp</th>
      <th>voucherID</th>
      <th>voucherAmount</th>
      <th>customerID</th>
      <th>deviceID</th>
      <th>paymentMethod</th>
      <th>returnQuantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a1000001</td>
      <td>2014-01-01</td>
      <td>i1000382</td>
      <td>1972</td>
      <td>44</td>
      <td>3.0</td>
      <td>1</td>
      <td>10.00</td>
      <td>29.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1010575</td>
      <td>2</td>
      <td>BPRG</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>a1000001</td>
      <td>2014-01-01</td>
      <td>i1000550</td>
      <td>3854</td>
      <td>44</td>
      <td>3.0</td>
      <td>1</td>
      <td>20.00</td>
      <td>39.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1010575</td>
      <td>2</td>
      <td>BPRG</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>a1000002</td>
      <td>2014-01-01</td>
      <td>i1001991</td>
      <td>2974</td>
      <td>38</td>
      <td>8.0</td>
      <td>1</td>
      <td>35.00</td>
      <td>49.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1045905</td>
      <td>4</td>
      <td>BPRG</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>a1000002</td>
      <td>2014-01-01</td>
      <td>i1001999</td>
      <td>1992</td>
      <td>38</td>
      <td>8.0</td>
      <td>1</td>
      <td>49.99</td>
      <td>49.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1045905</td>
      <td>4</td>
      <td>BPRG</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>a1000003</td>
      <td>2014-01-01</td>
      <td>i1001942</td>
      <td>1968</td>
      <td>42</td>
      <td>8.0</td>
      <td>1</td>
      <td>10.00</td>
      <td>35.99</td>
      <td>0</td>
      <td>0.0</td>
      <td>c1089295</td>
      <td>2</td>
      <td>PAYPALVC</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
df = process_date(df)
df

        day month  year
0        01    01  2014
1        01    01  2014
2        01    01  2014
3        01    01  2014
4        01    01  2014
5        01    01  2014
6        01    01  2014
7        01    01  2014
8        01    01  2014
9        01    01  2014
10       01    01  2014
11       01    01  2014
12       01    01  2014
13       01    01  2014
14       01    01  2014
15       01    01  2014
16       01    01  2014
17       01    01  2014
18       01    01  2014
19       01    01  2014
20       01    01  2014
21       01    01  2014
22       01    01  2014
23       01    01  2014
24       01    01  2014
25       01    01  2014
26       01    01  2014
27       01    01  2014
28       01    01  2014
29       01    01  2014
...      ..   ...   ...
2325135  30    09  2015
2325136  30    09  2015
2325137  30    09  2015
2325138  30    09  2015
2325139  30    09  2015
2325140  30    09  2015
2325141  30    09  2015
2325142  30    09  2015
2325143  30    09  2015
2325144  30    09  2015
2325145  30    09  2015
2325146  30    09  2015
2325147  30    09  2015
2325148  30    09  2015
2325149  30    09  2015
2325150  30    09  2015
2325151  30    09  2015
2325152  30    09  2015
2325153  30    09  2015
2325154  30    09  2015
2325155  30    09  2015
2325156  30    09  2015
2325157  30    09  2015
2325158  30    09  2015
2325159  30    09  2015
2325160  30    09  2015
2325161  30    09  2015
2325162  30    09  2015
2325163  30    09  2015
2325164  30    09  2015

[2325165 rows x 3 columns]